body{
  background-color: lightgray;
  margin: inherit;
}
section{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1em;
  width: 75%;
  margin: auto;
}
section img{
  width: 100%;
  border: 2px solid lightgray;
}
section img:hover{
  transition: .1s;
  transform: scale(1.08);
  border: 2px solid #377ADA;
}
h1{
  text-align: center;
  font-size: 250%;
  margin-bottom: 3%;
  margin-top: 3%;
}
@media (max-width: 900px) {
  section{
    grid-template-columns: 1fr 1fr 1fr;
  }
  body{
    background-image: url("https://images.unsplash.com/photo-1551509134-eb7c5ea9ad2d?ixlib=rb-1.2.1&w=1000&q=80");
    position: fixed;
    width: 100%;
  }
  h1{
    color: white;
  }
}
@media (max-width: 600px){
  section{
    grid-template-columns: 1fr;
  }
}
h2{
  background-color: #353535;
  color: #959595;
  padding: 10px;
  margin-top: 0;
  font-family: OpenSans,sans-serif,arial;
  font-size: 42px;
  padding-left: 20px;
}
@media (max-width: 650px) {
  nav{
    flex-direction: column;
  }
}
